@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
        Kontakt
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item">Centrála</a>
        <a class="dropdown-item">Pobočka Praha</a>
        <a class="dropdown-item">Pobočka Liberec</a>
    </div>
</div>
